<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th colspan="2">The table header</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Titre</td>
            <td>Annee</td>          
            <td>Duree</td>
            <td>Synopsis</td>            
        </tr>
        <tr th:object=${film}>

            <td th:text="*{titre}">Titre</td>
            <td th:text="*{annee}">Annee</td>          
            <td th:text="*{duree}">Duree</td>
            <td th:text="*{synopsis}">Synopsis</td>            
        </tr>
    </tbody>
    
    <button th:href="@{/ajouter">Ajouter Film</button>
</table>
</body>
</html>