<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
<h1> Un tableau mieux qu'une puce :)</h1>

<table>
    <thead>
        <tr>
            <th colspan="9">Liste de films</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Titre</td>
            <td>Année</td>
            <td>Durée</td>
            <td>Genre</td>
            <td>Synopsis</td>
          	<td>Réalisateur</td>
            <td>Acteurs</td>
        </tr>
        <tr th:each="film:${listFilm}" >
        	<td th:text="${film.titre}"></td>
        	<td th:text="${film.annee}"></td>
        	<td th:text="${film.duree}"></td>
            <td th:text="${film.genre.libelle}"></td>
            <td th:text="${film.synopsis}"></td>
            <td th:text="${film.realisateur.nom}"></td>
            <td >
                <ul>
                    <li th:each="acteur:${film.acteurs}" th:text="${acteur.nom}"></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


<!-- <ul th:each="unFilm:${listFilm}"> -->
<!-- 	<li th:text="${unFilm.titre}"></li> -->
<!-- </ul> -->
<a th:href="@{/film/ajouter}">Ajouter un film</a>

</body>
</html>